.vector-graphic{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vectoranimation 1s infinite ease-in-out alternate;
}

@keyframes vectoranimation{
    to {
        transform: translateY(-10px);
    }
}